<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" />
</head>
<body>
    <div class="col-6 mx-auto mt-5">
        <h1>Welcome to <%= name %> </h1>


        <a href="/api/logout" class="btn btn-outline-danger">Log out.</a>

        <div class="mt-5">
            <a href="/">go to home.</a>
        </div>
    </div>
</body>
</html>